/* inline-blocks hack */
* {
    vertical-align: top;
}

/* Main styles */
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon-calendar:after {
	content: "\e000";
}

.icon-cancel:after {
	content: "\e001";
}

.icon-exit:after {
	content: "\e002";
}

.icon-machine:after {
    content: "\e003";
}

.icon-more:after {
	content: "\e004";
}

.icon-pause:after {
	content: "\e006";
}

.icon-play:after {
	content: "\e005";
}

.icon-bin:after {
	content: "\e007";
}

.icon-settings:after {
	content: "\e008";
}

.icon-person:after {
	content: "\e009";
}

.icon-dot:after {
	content: "\e00a";
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	color: #cecece;
	background: #2a2b30;
	-webkit-font-smoothing: antialiased;
}

.container {
    overflow-y: auto;
    height: 100vh;
}

.header {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding: 5vh 0 0 0;
    align-items: center;
}

.notification {
    margin-top: 40px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.notification.error {
    color: #cecece;
    background: #872CC5;
}

.notification.message {
    color: #cecece;
    background: #143C35;
}

a {
    text-decoration: none;
    color: #cecece;
    outline: none;
}

a:hover {
    color: #ddd;
}

/* Logo styles */

.logo-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 120px;
    padding: 1em 0 0 0;
    text-align: center;
    background: #1c1d22;
}

.logo-img {
    display: block;
    margin: 0 auto;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}

/* Login styles */

.container.login {
    background: #1c1d22;
}

.info {
    font-size: 1.1em;
    font-weight: bold;
    padding: 1em 1em 0;
    text-align: center;
    color: #47484c;
}

.action:focus {
    outline: none;
}

.action {
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    padding: 0.85em 1.25em;
    cursor: pointer;
    border: none;
    background: transparent;
    text-align: center;
}

.action-login {
    -webkit-align-self: center;
    align-self: center;
    margin-top: 1em;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.action-button {
    background: #2A2B30;
    color: #cecece;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.action-button:hover {
    background: #5C5EDC;
}

.action-text {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .813em;
    vertical-align: middle;
    display: inline-block;
}

.submit-wrap {
    padding-top: 40px;
    clear: both;
}

.info label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    letter-spacing: 1px;
    cursor: pointer;
}

.info input {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #47484c;
    background: transparent;
}

.form-content {
    position: relative;
    min-height: 300px;
    margin: 0 auto;
    max-width: 345px;
    min-width: 345px;
}

.form-link a {
    color: #bdbdbd;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

div.form-link {
    padding: 1em 1em 1em 1em;
    display: block;
}

.form-link a:hover {
    color: #5C5EDC;
}

/* Login styles end */
/* Content styles */

.content {
    position: relative;
    min-height: 300px;
    margin: 0 0 0 300px;
}

.content--loading {
	background: url('../img/loading.svg') no-repeat 50% 50%;
}

/* Content styles end*/
/* Tile styles */

.tiles {
	margin: 0;
	padding: 2em;
	text-align: center;
}

.tile {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 5px;
    background: #1c1d22;

    opacity: 1;
    transition: all 2s linear;

    -webkit-animation: fadeInFromNone 0.5s ease-in;
    -moz-animation: fadeInFromNone 0.5s ease-in;
    -o-animation: fadeInFromNone 0.5s ease-in;
    animation: fadeInFromNone 0.5s ease-in;
}

.tile .hidden {
    display: none;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tile .front .icon {
    font-family: Flaticon;
    font-size: 70px;
    line-height: 80px;
    margin-top: 40px;
    color: #3b3d4a;
}

.tile .front .title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #BDBDBD;
}

.tile .front .description {
    font-size: 15px;
    line-height: 20px;
    color: #47484c;
}

.tile .tile-nav {
    padding: 1em;
}

.tile-nav .tile-link {
    padding-top: 1em;
    text-align: left;
    padding-left: 2em;
    font-weight: 600;
    position: relative;
    display: block;
    color: #47484c;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.tile-nav .tile-link a {
    color: #47484c;
}

.tile-nav .tile-icon {
	font-family: Flaticon;
	font-weight: bold;
    display: inline;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
    margin-right: 4px;
    color: #47484c;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.tile-link:hover .tile-icon {
    color: #5c5edc;
}

.tile-link:hover a {
    color: #bdbdbd;
}

/* Tile styles end */

/* Menu styles */

.menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 300px;
    height: calc(100vh - 120px);
    background: #1c1d22;
}

.menu-wrap {
    position: absolute;
    top: 0.5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu-list {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% + 50px);
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    display: block;
    width: calc(100% - 50px);
}

.menu-link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    color: #bdbdbd;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.menu-link--current::after {
    font-family: Flaticon;
    content: '\e00a';
    font-size: 5px;
    line-height: 0;
    position: absolute;
    top: 55%;
    left: 2em;
    height: 4px;
    color: #5c5edc;
}

.menu-link:hover{
    color: #5C5EDC;
}

/* User header */

.user-header {
    flex-grow: 1;
	margin: 0 0 0 auto;
	padding: 0 3em 0;
	text-align: right;
}

.user-tooltip:after {
	position: relative;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 0;
	height: 0;
}

.user-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.user-nav__item > span {
	display: none;
}

.user-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	color: #595a5f;
}

.user-nav__item:hover {
	background: #5c5edc;
}

.user-icon:after {
	font-family: Flaticon;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5c5edc;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.user-nav .user-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.user-nav a:hover:after {
	color: #cecece;
}

.user-nav {
    margin: 0.5em 0 0 auto;
    text-align: right;
}

.user-header__title {
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0.25em 0 0;
}

.circular {
    margin-top: 20px;
	width: 130px;
	height: 130px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}


/* Modal stuff */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.modal-show {
	visibility: visible;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.modal-content {
    padding-left: 1em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #cecece;
    background: #1C1D22;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.modal-content .modal-column {
    display: inline-block;
}

.modal-content .modal-content_label {
    padding-top: 10px;
    font-weight: bold;
}

.modal-content .modal-content_value {
    padding-top: 10px;
}

.modal-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.modal-content > div {
	margin: 0;
}

.modal-content > div p {
	margin: 0;
	padding: 10px 0;
}

.modal-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.modal-content > div ul li {
	padding: 5px 0;
}


.modal-content button{
    border: none;
    outline: none;
    background: #2A2B30;
    color: #fff;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1px;
}

.modal-content button + button {
    margin-left: 10px;
}

.modal-content button:hover {
    background-color: #5C5EDC;
}

.modal-content {
	opacity: 0;
}

.modal-show ~ .container,
.modal-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show .modal-content {
	opacity: 1;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}

.modal-content form {
    border: none;
    min-width: 100px;
    display: inline-block;
    margin:10px 0;
}

.modal-content label {
    color: #cecece;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal-content input, textarea, select {
    border: none;
	outline: none;
    color: #808080;
    background-color: #2A2B30;
    display: inline-block;
    font-size: 13px;
    height: 22px;
    line-height: 30px;
    padding: 4px;
    width: 210px;
    box-shadow: 2px 2px 6px 1px rgba(7, 7, 9, 0.15);
}

.modal-content select {
    height: 30px;
    line-height: 21px;
    width: 218px;
	-webkit-appearance:none;
    -moz-appearance:none;
    cursor:pointer;
	text-indent: 0.01px;             /* Removes default arrow from firefox*/
    text-overflow: "";               /*Removes default arrow from firefox*/
    background: url('../img/dot.png') no-repeat right #2A2B30;
    background-size: 4px 4px;
    background-position: 195px 13px;
}

.modal-content select:active, select:hover {
  outline: none;
}

.modal-content form .input {
    float: right;
    height: 30px;
    margin-left: 20px;
}

.modal-content form .line {
    margin-bottom: 18px;
}

.modal-content form .submit {
    text-align: right;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 8px;
    color: #808080;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 8px;
   color: #808080;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 8px;
   color: #808080;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 8px;
    color: #808080;
}

:placeholder-shown { /* CSS4 Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    font-size: 8px;
    color: #808080;
}