.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.modal-show {
	visibility: visible;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.modal-content {
    padding-left: 1em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #cecece;
    background: #1C1D22;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.modal-content .modal-column {
    display: inline-block;
}

.modal-content .modal-content_label {
    padding-top: 10px;
    font-weight: bold;
}

.modal-content .modal-content_value {
    padding-top: 10px;
}

.modal-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.modal-content > div {
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.modal-content > div p {
	margin: 0;
	padding: 10px 0;
}

.modal-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.modal-content > div ul li {
	padding: 5px 0;
}


.modal-content button{
    border: none;
    outline: none;
    background: #2A2B30;
    color: #fff;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1px;
}

.modal-content button + button {
    margin-left: 10px;
}

.modal-content button:hover {
    background-color: #5C5EDC;
}

.modal-content {
	opacity: 0;
}

.modal-show ~ .container,
.modal-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show .modal-content {
	opacity: 1;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}

.modal-content form {
    border: none;
    min-width: 100px;
    display: inline-block;
    margin:10px 0;
}

.modal-content label {
    color: #cecece;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal-content input, textarea, select {
    border: none;
	outline: none;
    color: #808080;
    background-color: #2A2B30;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding: 4px;
    width: 210px;
    box-shadow: 2px 2px 6px 1px rgba(7, 7, 9, 0.15);
}

.modal-content select {
    height: 30px;
    line-height: 21px;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	text-indent: 0.01px;             /* Removes default arrow from firefox*/
    text-overflow: "";               /*Removes default arrow from firefox*/
    background: url('../img/dot.png') no-repeat right #2A2B30;
    background-size: 4px 4px;
    background-position: 195px 13px;
}

.modal-content select:active, select:hover {
  outline: none;
}

.modal-content form .input {
    float: right;
    height: 30px;
    margin-left: 20px;
}

.modal-content form .line {
    margin-bottom: 18px;
}

.modal-content form .submit {
    text-align: right;
}