<!DOCTYPE html>

<html>

<head>
	<title>Boruvka: Login Page</title>
	<meta name="description" content="Boruvka: Orchestration made simple" />
	<meta name="author" content="Artur Stachecki" />
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>

<body>
	<div class="container login">
		<div class="header">
			<img src='../img/logo1.png' alt="logo">
		</div>

		<div class="form-content">
			<form method="POST" class="info">
				{{if error}}
                <div class="notification error">{{error}}</div>
                {{endif}}
                <label for="username">{{username}}</label>
				<input type="text" id="username" name="username">
                <label for="password">{{password}}</label>
                <input type="password" id="password" name="password">
                <div class="submit-wrap">
				    <button class="action action-login action-button" type="submit">
    					<span class="action-text">{{login}}</span>
    				</button>
                    <div class="form-link">
                        <a class="form-link" href="/auth/register">{{register}}</a>
                    </div>
                </div>
			</form>
		</div>
	</div>
</body>

</html>
