<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
    	<title>Boruvka: {{title}}</title>
    	<meta name="description" content="Boruvka: Orchestration made simple">
    	<meta name="author" content="Artur Stachecki">
    	<link rel="shortcut icon" href="../img/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
    </head>
    
    <body>
        <div class="container">
        	<header class="header">
        		<div class="logo-header">
        			<img class="logo-img" src="../img/logo1.png" alt="logo">
        		</div>
        		<div class="user-header">
        				<h1 class="user-header__title">{{user.username}}</h1>
        				<nav class="user-nav">
        					<a class="user-nav__item user-icon icon-settings modal-trigger"
							   data-link="/user/{{user.id}}/edit" data-info="{{profile}}" href="#">
                                <span>{{profile}}</span>
                            </a>
        					<a class="user-nav__item user-icon icon-exit" href="/auth/logout" data-info="{{logout}}">
                                <span>{{settings}}</span>
                            </a>
        				</nav>
        			</div>
        	</header>

            <nav id="menu" class="menu">
        		<div class="menu-wrap">
        			<ul class="menu-list">
        				<li class="menu-item" data-link="/task/"><a class="menu-link" href="#">{{tasks}}</a></li>
        				<li class="menu-item" data-link="/machine/"><a class="menu-link" href="#">{{machines}}</a></li>
        				<li class="menu-item" data-link="/user/"><a class="menu-link" href="#">{{users}}</a></li>
        				<li class="menu-item" data-link="/setting/"><a class="menu-link" href="#">{{settings}}</a></li>
        			</ul>
        		</div>
        	</nav>

            <div class="modal modal-effect"></div>
            <div class="content"></div>
        	<div class="modal-overlay"></div>
        </div>
        <script src="../js/main.js"></script>
    </body>

</html>