{{if _full}}
<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
    	<title>Boruvka: {{title}}</title>
    	<meta name="description" content="Boruvka: Orchestration made simple">
    	<meta name="author" content="Artur Stachecki">
    	<link rel="shortcut icon" href="../img/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
    </head>

    <body>
        <div class="container">
            <div class="content">
				{{endif}}
                <div class="modal-content" {{if _full}}style="opacity: 1"{{endif}}>
                    <div class="modal-column">
                        <div class="modal-content_label">{{id}}:</div>
                        <div class="modal-content_label">{{username}}:</div>
                    </div>
                    <div class="modal-column">
                        <div class="modal-content_value">{{_user.id}}</div>
                        <div class="modal-content_value">{{_user.username}}</div>
                        <div class="modal-content_value">
                            <button class="modal-button modal-close">
    					        <span class="action-text">{{close}}</span>
    				        </button>
                        </div>
                    </div>
                </div>
				{{if _full}}
            </div>
        	<div class="modal-overlay"></div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>
{{endif}}
